[Unit]
Description=Firedancer Validator
After=network.target

[Service]
User=root
Type=simple
Restart=always
RestartSec=1
ExecStart=/bin/bash -c ' \
/root/firedancer/build/native/gcc/bin/fdctl configure init all --config /root/solana/config.toml && \
/root/firedancer/build/native/gcc/bin/fdctl run --config /root/solana/config.toml'

ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s QUIT $MAINPID
[Install]
WantedBy=multi-user.target

#--identity /root/solana/empty-validator.json \
#--authorized-voter /root/solana/validator-keypair.json \
#--vote-account /root/solana/vote.json \
